



.home-page {
	background-image: url("../img/coffeeCup.png");
	background-size:cover;
	padding-top: 1% !important;
	padding-bottom: 2%;
	margin-top: 80px;
	margin-left:1% !important;
	margin-right:1% !important;
	min-height: 700px;
	width:100%;
}

.policies {
	background-size:cover;
	background-color: black !important;
	padding-top: 15px !important;
	padding-bottom:1%;
	margin-top:90px;
/*	margin-top:90px;   */
	margin-left:1% !important;
	margin-right:1% !important;
	min-height:500px;
	width:100%;
	padding-left:5% !important;
	padding-right:5% !important;
}

.policies h4, .policies h5 {
	color:black !important;
}


.panel-color {
	background: #D8D8D4 !important;
}

.panel-color-2 {
	background: #A6A2A2 !important;
	padding-bottom:1% !important;
}

.panel-heading h2 {
/*	font-family: 'Courgette', cursive;  */
	font-family: 'Kaushan Script', cursive !important;
}

.panel-button {
	background-color:black !important;
	color:#E5E6E4 !important;
	margin-top:1%;
	margin-bottom:3%;
}

.panel-button a:link,
.panel-button a:visited,
.panel-button a:hover,
.panel-button a;active {
	color:white !important;
	text-decoration:none;
}
.pnl {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.pnl-ftr {
	background: #D8D8D4 !important;

}


.form-heading {
	padding-top:2%;
	padding-bottom:2%;
	font-family: 'Kaushan Script', cursive !important;

}

.form-group button{

  input:required:invalid, input:focus:invalid {
    background-image: url(../pics/exclamation.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
  input:required:valid {
    background-image: url(../pics/tick.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
}



.bs-docs-nav {
/*	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;  */

}

.yolanda-logo {
	margin-top: -20px !important;
	display:inline-block;
}


.twcc-p {
	font-size: 20px !important;
}

.twcc-top {
	margin-top: 5%;
}

 .twcc-text {
	margin-left:2%;
	margin-right:2%;
}

.email {
	margin-top:10%;
	margin-left:5%;
}

.dream {
	text-shadow: rgba(0, 0, 0, 0.9) 0.5px 1px 0.5px;
	border: 2px solid black;
  margin-right: 5%;
  margin-left:5%
}

.coffee-img {
	height:40px;
	width:50px;
}

.coffee-logo {
	margin-top:2%;
	margin-bottom: 2%;
}

.yolanda-slogan {
	color:white !important;
	display: inline-block;
	margin-top: -15px !important;
}

.mid-section {
	background-color: #90AA86;
}

.center-logo {
	margin 0 auto;
	float: none;
}

img {

	/* border: 2px solid black; */

	/* border-radius:10%;  */
}

li a:link,
li a:visited,
li a:hover,
li a:active {
	font-size: 15px;
}

.button a:link,
.button a:visited,
.button a:hover,
.button a:active {
	color:white;
	text-decoration:none;
}


.footer-div{
	margin-top: 2px;
/*	padding-top:1px;  */
	padding-bottom:5px;
	font-size:9px;
}
.footer {
		padding-bottom:5px;
		position: relative;
		/*	margin-top: -150px; negative value of footer height */

		min-height: .5%;
		clear: both;
	  font-size:8px;
}

.footer-div a:link,
.footer-div a:visited,
.footer-div a:hover,
.footer-div a:active {
	color:black !important;

}

.footer-p {
	font-size:8px;
}

.footer-p a{
	font-size: 12px;
}

.ftr-div-2 {
	padding-top:5px;
}

.col-black {
	background-color:black !important;
}

body {
		background-color: white;
/*	background-image: url("../img/coffeeCup.png"); */
		overflow: auto;
		padding-bottom: 1%;
		padding-right:1.5%;
/*		font-size: 100%; */
}

p {
font-family: 'Libre Baskerville', serif;
font-size:110% !important;
}



h4,h5 {
	padding-top:10px;
	padding-left:5px;
	color:white;
}

@media only screen and (min-width: 500px) {
	/* .to-right {
  		float: right !important;
	} */

	.email {
		margin-top:5%;
		margin-bottom: 50%;
		margin-left:5%;
		text-align:left;
	}

	.twcc-text {
	/*	margin-left:5%; */
		margin-right:5%;
		padding-right:15%;
	}

	min-height:900px;
}
